<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.engatec.vdl.db.mapper.QueueMapper">

    <insert id="insertQueueItems" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO queue (title, format_id, url, download_path, size, progress, status) VALUES
        <foreach item="it" collection="list" separator=",">
            (#{it.title}, #{it.formatId}, #{it.baseUrl}, #{it.downloadPath}, #{it.size}, #{it.progress}, #{it.status})
        </foreach>
    </insert>

    <resultMap id="fetchQueueItemsResultMap" type="com.github.engatec.vdl.model.QueueItem">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="format_id" property="formatId"/>
        <result column="url" property="baseUrl"/>
        <result column="download_path" property="downloadPath"/>
        <result column="size" property="size"/>
        <result column="progress" property="progress"/>
        <result column="status" property="status"/>
        <collection property="destinations" javaType="list" ofType="string">
            <result column="file_path"/>
        </collection>
    </resultMap>

    <select id="fetchQueueItems" resultMap="fetchQueueItemsResultMap">
        SELECT id, title, format_id, url, download_path, size, progress, status, file_path
        FROM queue
        LEFT JOIN queue_temp_file ON queue_temp_file.queue_id = queue.id
    </select>

    <delete id="deleteQueueItems">
        DELETE FROM queue WHERE id IN (<foreach item="it" collection="list" separator=",">#{it}</foreach>)
    </delete>

    <insert id="insertQueueTempFile">
        INSERT INTO queue_temp_file (queue_id, file_path) VALUES (#{queueId}, #{filePath})
    </insert>

    <resultMap id="findQueueTempFilesResultMap" type="com.github.engatec.vdl.db.entity.FindQueueTempFilesResult">
        <result column="queue_id" property="queueId"/>
        <result column="file_path" property="filePath"/>
    </resultMap>

    <select id="findQueueTempFiles" resultMap="findQueueTempFilesResultMap">
        SELECT queue_id, file_path FROM queue_temp_file
        <where>
            <if test="list != null and !list.isEmpty">
                queue_id IN (<foreach item="it" collection="list" separator=",">#{it}</foreach>)
            </if>
        </where>
    </select>

</mapper>
