.bg-white {
    -fx-background-color: #fff;
}

.control-btn {
    -fx-min-width: 70;
}

.grid-header-label {
    -fx-font-weight: bold
}

.img-btn {
    -fx-min-height: 22;
    -fx-min-width: 34;
    -fx-pref-height: 22;
    -fx-pref-width: 34;
    -fx-max-height: 22;
    -fx-max-width: 34;
}

.no-border {
    -fx-box-border: transparent;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.preferences-category-title {
    -fx-font-weight: bold;
    -fx-font-size: 12;
}
