.bg-white {
    -fx-background-color: #fff;
}

.control-btn {
    -fx-min-width: 70;
}

.control-btn-big {
    -fx-min-width: 90;
    -fx-pref-width: 90;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-font-family: "Roboto";
    -fx-font-size: 12;
}

.grid-header-label {
    -fx-font-weight: bold
}

.img-btn {
    -fx-min-height: 22;
    -fx-min-width: 34;
    -fx-pref-height: 22;
    -fx-pref-width: 34;
    -fx-max-height: 22;
    -fx-max-width: 34;
}

.no-border {
    -fx-box-border: transparent;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.preferences-category-title {
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.sidebar {
    -fx-background-color: #fff;
    -fx-font-family: "Roboto";
    -fx-font-size: 12;
}

.sidebar-label {
    -fx-graphic-text-gap: 16;
    -fx-opacity: 0.6;
}

.sidebar-label > .label {
    -fx-graphic-text-gap: 16;
}

.sidebar-label:hover {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.sidebar-label-current {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}

.common-label {
    -fx-font-family: "Roboto";
    -fx-font-size: 12;
    -fx-opacity: 0.9;
}

.service-btn {
    -fx-opacity: 0.6;
}

.service-btn:hover {
    -fx-opacity: 0.9;
    -fx-cursor: hand;
}

.caption {
    -fx-font-family: "Roboto";
    -fx-font-size: 10;
    -fx-opacity: 0.9;
}

.subscriptions-pi {
    -fx-progress-color: black;
    -fx-opacity: 0.6;
}
